<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registerServalet</servlet-name>
        <servlet-class>view.registerServalet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServalet</servlet-name>
        <servlet-class>view.loginServalet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServalet</servlet-name>
        <servlet-class>view.LoginServalet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServalet</servlet-name>
        <servlet-class>view.logoutServalet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServalet</servlet-name>
        <url-pattern>/registerServalet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServalet</servlet-name>
        <url-pattern>/loginServalet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServalet</servlet-name>
        <url-pattern>/LoginServalet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServalet</servlet-name>
        <url-pattern>/logoutServalet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
